#btn-group{
  display:block;
  background-color: 0000ff;
  color: white; /* White text */
  float: left; /* Float the buttons side by side */
  position:absolute;
  width:25%;
  top:48%;
  left:50%;
}
.abc
{
 background-color: 0000ff;
 font-size:2rem;
 display:block;
 width:100%;
 float:left;
}
#img
{
position:absolute;
width:100%;
height:100%;
z-index:-1;
}

#registerBox{
    margin: auto;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    height: auto;
    /* border-style: solid;
    border-color: #4d94ff; */
    width: 1000px;
    text-align: center;
    color:white;
}

#mainbox{
    /* background-color: #18181a; */
    width: 100%;
    height: 100%;
    /* border-style: solid;
    border-color: green; */
    /* position: absolute; */
}

.button{
    margin: 5px;
}

#imageSelector{
    display: inline-flex;
    /* border-style: solid;
    border-color: green; */
    margin: 20px auto;
    /* height: 170px;
    width: 1000px; */
    justify-self: center;
}

.imageButton1{
    background: url(images/cat.jpg); 
    background-size: 100%; 
    width: 300px; 
    height: 170px;
    margin-right: 5px;
}

.imageButton2{
    background: url(images/duck.jpg); 
    background-size: 100%; 
    width: 300px; 
    height: 170px;
    margin-right: 5px;
}

.imageButton3{
    background: url(images/tiger.jpg); 
    background-size: 100%; 
    width: 300px; 
    height: 170px;
}

#imagebox{
    width: 960px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

#imageboxcontent{
    width: 960px;
    height: 540px;
    display: none;
}

#buttonBox{
    text-align: center;
}

#otpBox{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
}


body{
    background-color: #18181a;
    color: white;
}