{% extends "BASE.html" %}
{% block title %}Index page{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block script %}

{% endblock %}

{% block bodyblock %}
        <img src="static/images/123.png" id="img">
        <div id = "btn-group">

                <a class="btn btn-primary btn-lg button abc" href="/login" role="button">Login</a>
                <br><br><br><br>
                <a class="btn btn-primary btn-lg button abc" href="/register" role="button">Register</a>
                <div style="clear:both;"></div>
        </div>
{% endblock %}
