{% extends "BASE.html" %}
{% block title %}Login page{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block bodyblock %}
        <h4>{{error}}</h4>
        <div id = "registerBox">
            <h3>Login To Your Account</h3><br>

            <form action="/otp" method="POST">
                <!-- Username -->
                <div class = "signUpFields">
                    <h4>Username</h4>
                    <input type="text" name="username" pattern="^[a-zA-Z0-9]+$" required pattern="\S+.*" />
                </div>

                <!-- Image Selection -->
                <br><h4>Select your Graphical Password Image:</h4>
                <div id="imageSelector">
                    <button type="button" name="button" value="1" class="imageButton1 imbutton active" onclick="image1()"></button>
                    <button type="button" name="button" value="2" class="imageButton2 imbutton" onclick="image2()"></button>
                    <button type="button" name="button" value="3" class="imageButton3 imbutton" onclick="image3()"></button>
                    <input type="hidden" id="imageToUse" name="imageToUse" value="0">
                </div>
                <br><br><br>

                <!-- Grid Sequence Selection -->
                <h4>Enter your Graphical Password</h4>
                <h6>Requirements:<br>
                    1. Must create a minimum sequence of 4. <br>
                    2. Maximum length of password is 10. <br>
                    3. Tiles can be clicked more than once.
                </h6>
                <img id="imageboxcontent" src="static/images/cat.jpg" alt="image">
                <canvas id="myCanvas" width="960" height="540" style="border:1px solid #d3d3d3;"></canvas>
                <input type="hidden" id="gridSequence" name="gridSequence" value="">
                <!-- <h4 id="sequencetext"></h4> --> <!-- FOR DEBUG PURPOSES ONLY --> 

                <h4 id="sequencetext"></h4>
                <h4 id="numberinsequence">Number of Tiles Clicked : 0</h4> <!-- Shows the user how many tiles they have clicked -->
                <input type="hidden" id="tilesClicked" name="tilesClicked" value="0">

                <!-- Button which clears the created sequence -->
                <button class="btn btn-primary btn-lg button" type="button" onclick="clearSequence()">Reset Sequence</button>
                
                <!-- Create AccountButton -->
                <button class="btn btn-primary btn-lg button" type="submit">Login</button>
            </form>

            <!-- Go Back button -->
            <a class="btn btn-primary btn-lg button" href="/" role="button">Go Back</a>        
        </div>

    {% block script %}
        <!-- Creates the graphical password image grid -->
        <script>
            window.onload = function(){
                var c = document.getElementById("myCanvas");
                var ctx = c.getContext("2d");
                var img = document.getElementById("imageboxcontent");
                ctx.drawImage(img, 0, 0, 960, 540);
                
                ctx.lineWidth = 4;

                //DRAWS THE GRID ON THE IMAGE/CANVAS
                // Iterates through column
                for (var i = 0; i < 7; i++){
                    //Iterates through rows
                    for(var j = 0; j < 11; j++){
                        ctx.strokeStyle = "#FF0000";
                        ctx.strokeRect((-96 + 96*(j+1)) , (-90 + 90*(i+1)) , 96*(j+1) , 90*(i+1));
                    }
                }
            }
        </script>

        <script type="text/javascript" src="static/scripts/imageSelector.js"></script>
        <script type="text/javascript" src={{ url_for('static', filename='scripts/gridSelector.js')}}></script>
        <!-- <script type="text/javascript" src={{ url_for('static', filename='scripts/clearSequence.js')}}></script> -->
    {% endblock %}

{% endblock %}